ALTER TABLE public.rounds ADD COLUMN time_limit INTEGER DEFAULT 0 NOT NULL;
ALTER TABLE public.team_progress ADD COLUMN round_started_at TIMESTAMPTZ, ADD COLUMN round_bonus_seconds INTEGER DEFAULT 0 NOT NULL;
